@model IEnumerable<TOTVS.Models.User>

@{
    ViewBag.Title = "Usuarios";
}
<h3>Vendo Generos</h3>
<p>
    Escolha entre os Usuarios:
</p>
<ul>
    @foreach (var user in Model)
    {
        <li>
            @Html.ActionLink(user.Nome, "SelectUser", "SelectUsersController", user.UserID)
        </li>
    }
</ul>